body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

i.checkmark
  margin-top: -1.3em
  font-size: 1.5em
  margin-right: 0.2em

div.has-success i
  color: green

div.has-error i
  color: red

div.loading
    text-align center

i.icon-minus
    margin-left 10px
    color red

i.icon-spinner
    margin-right 7px
    
a.new
    display block

a.remove:hover,
a.new:hover
    text-decoration none
    

fieldset
    margin-bottom 15px
