extends layout

block content
    #body.container
        h1 Recipes
    
        ul.nav.nav-tabs
            li.active
                a(href="#values", data-toggle="tab") Recipe Values
            li
                a(href="#setup", data-toggle="tab") Variable Setup
        
        .tab-content
            .tab-pane.active#values
                form
                    fieldset.bcs
                        div.form-group
                            label.control-label(for='bcs') BCS 4.0 Device:
                            input.form-control(type='url', data-name='bcs', data-tab='values', placeholder='http://192.168.1.5/')
                            i.icon-ok.pull-right.checkmark

                div.loading.alert.alert-info.hide
                    h3 
                        i.icon-spinner.icon-spin 
                        | Loading data from BCS...

                div.failed.alert.alert-danger.hide
                    h3 Failed to load data from BCS

                fieldset.template.hide
                    div.form-group
                        label.control-label(for='variable') Label:
                        input.form-control(data-name='variable')


                form.fields.hide
    
            .tab-pane#setup
                form
                    fieldset
                        div.form-group
                            label.control-label(for='bcs') BCS 4.0 Device:
                            input.form-control(type='url', data-name='bcs', data-tab='setup', placeholder='http://192.168.1.5/')
                            i.icon-ok.pull-right.checkmark
                
                div.loading.alert.alert-info.hide
                    h3 
                        i.icon-spinner.icon-spin 
                        | Loading data from BCS...
                
                div.failed.alert.alert-danger.hide
                    h3 Failed to load data from BCS
                    
                form.fields.form-inline.hide
                    fieldset
                        div.form-group(data-id="0")
                            label.control-label(for='variable') Variable:
                            input.form-control(type='text', data-name='variable')
                            label.control-label(for='target') Target:
                            select.form-control(data-name='targetProcess')
                            select.form-control(data-name='targetState')
                            select.form-control(data-name='targetElement')
                            a.remove(href='#') 
                                i.icon-minus.icon-large
                    a.new(href='#')
                        i.icon-plus.icon-large
                        
                    button.btn.btn-primary Save

                        
        

    .modal.fade(id='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title Setting Recipe Values...
                .modal-body


    div#progress(style='display:none')
        .progress
            .progress-bar.progress-bar-success(style='width: 0%', role='progressbar', aria-valuenow='0')
            .progress-bar.progress-bar-danger(style='width: 0%', role='progressbar', aria-valuenow='0')

    script(src='js/index.js')